/* TO GET AN IDEA OF THE CSS YOU WILL LIKELY BE USING, SEE THE LISTS BELOW. */

        /* 
        
        Spacing 

            - padding (shorthand and/or specific properties like padding-bottom, etc.)

            - margin, (shorthand and/or specific properties like margin-top, etc.)

            - letter-spacing, word-spacing, line-height

            - width, max-width, min-width
            - height, max-height, min-height

        Typography 

            - font-family, font-size, font-style, font-weight

            - text-decoration, text-align

            - color

            - text-shadow, text-transform

        Box, Layout and Border 

            - border (shorthand and/or specific properties like border-top, border-bottom-radius, border-width, etc.)

            - box-shadow

            - display, float, align-items, align-content

            - grid-template-columns, grid-column-gap

            - transform

        Other

            - :nth()-child (to target specific child elements)

            - :focus, :hover, :active (to target link states)

            - @font-face or @import (to import typefaces)

        */


/* ------ START WRITING YOUR CODE BELOW ------ */


@font-face {
    font-family: Ultra;
    src: url(../fonts/serif/ultra-regular.tff)
    format('truetype');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: Lato;
    src: url(../fonts/sans-serif/lato-regular.tff)
    format('truetype');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/sans-serif/roboto-regular.ttf)
    format('truetype');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/sans-serif/montserrat-regular.tff)
    format('truetype');
    font-weight:normal;
    font-style:normal;
}

html {
    font-size:16px;   
}

p{
    font-family: "Montserrat", sans-serif;
    letter-spacing: .125rem;
    word-spacing: .0025rem;
    font-size: .75rem;
    padding: .5rem;
    margin: .25rem;
    
}
body {
    margin: 1.5rem auto;
    width:90%;
    min-width:56.25rem;
}

header{
    
    font-family: "Lato", sans-serif;
    letter-spacing: .125rem;
    font-size: 1.5rem;
    margin: 1rem;
    text-align: center;
    transform: rotate(-5deg);
    padding: 1rem;
}

h1{
    font-family: "Roboto", sans-serif;
}
h3{
    font-family: "Montserrat", sans-serif;
    margin: .5rem;
    margin-bottom: 0;
    padding: .5rem;
    text-align: left;
}
a{
    outline: none;
    text-decoration-line: none;
}

a:link{
    text-align: right;
    color: #33659A;
}

.highlight {
     
    text-transform: uppercase;
    font-family: "Ultra", serif;
    font-weight: 56.25rem;
    background-color: #83344e;
    padding: 1.2rem;
    box-shadow:0.600rem 0.600rem 0.600rem black;
    border-radius: 1.875rem 0.625rem;
    border-color: black;
    color: #eeeedd;
    
}

.main-section {
    display: flex;
}

article{
    width:70%;
} 

.article-image {
    float: left;
    width: 50%;
}

aside{
    width:20%;
    border-left: 0.125rem solid black;
	padding-left: 2rem;
	padding-right: 1rem;
}

br{
    border-bottom:  0.125rem solid black;
}

.side-image{
    max-width: 100%;
	max-height:100%;
}

.article-image{
    float:left;
    margin: 1rem;
    padding-right: 23rem;
    width: 3rem;

}

figure {
    width: 50%;
}

figcaption {
    background-color: beige;
    margin:1.375rem;
}
time{
    font-style: italic;
    text-align: left;
}

footer {
    clear: both;
    margin-top:1.5rem;
}
.expand{
    text-decoration: none;
    text-align:left;
    font-size: .25rem;
	padding: 1rem;
    border-bottom-width: 100%;
}

.sub-section{
    display: grid; 
    grid-template-columns:repeat(3, 1fr);
    clear:both;
    margin: 0;
    padding-bottom: .5rem;
    padding-top: .5rem;
    padding-left: .25rem;
    padding-right: .25rem;
}

.sub-section img{
    width: 100%;
}
.reference a{
    text-align: right;
}

button{
    
    background-color: #28476e;
    border-color: #28476e;
    color: beige;
    font-family: "Ultra", serif;
    font-size: 2rem;
    font-weight: 56.25rem;
    border-radius: 1rem;
    text-align: left;
    margin: 10%;
    margin-top: 3rem;
    box-shadow:0.625rem 0.625rem 0.625rem grey;
}

nav {
    
    font-family: "Montserrat", sans-serif;
    border-top: 0.125rem solid gray;
    border-bottom: 0.125rem solid gray;
    word-spacing: 8rem;
    text-align: center;
    color: black;
    width: 100%;
   
}

.right-footer{
    text-align: right;
}

.left-footer{
    text-align: left;
}

li{
    display: inline;
}

li:nth-child(2){
    transform: rotate(5deg);
    
}

a:hover{
    text-decoration-line: none;
    color: plum;
}



